.grid-container{
    border: 1px solid black;
    background-color:white;
    height: 100vh;
    width: auto;
    padding: 1vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 15% 75% 10%;
    grid-template-areas:
    "header header header header sidebar"
    "paragraph1 paragraph1 paragraph2 paragraph2 sidebar";
}

.header,.paragraph1,.paragraph2,.sidebar,.footer{
    border: 1px solid none;
    margin:1vh 1vh;
    padding: 1%;
    background-color: seagreen;
}


.header{
    grid-area:header ;}

.paragraph1{
    grid-area:paragraph1 ;}

.paragraph2{
    grid-area:paragraph2;}

.sidebar{
    grid-area:sidebar;}

.lists{
    align-self:center;
    padding-top:0vh;
    padding-bottom: 5vh; 

}
.paragraph1>p,.paragraph2>p, ul>li,.footer>p{
    font-size:2vh;}

h1{
    font-size: 4vh;
}
